@using AnimalCrossingTracker.Models
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var user = await UserManager.GetUserAsync(User);
    var avatar = user?.ProfileImageUrl ?? "/images/default-avatar.png";
}

<div class="manage-sidebar">
    <div class="profile-avatar text-center mb-3">
        <img src="@avatar" alt="Avatar" class="avatar-img" 
             onerror="this.src='/images/default-avatar.png';" />
        <p class="fw-bold mt-2">@user?.UserName</p>
    </div>

    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Correo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Contraseña</a>
        </li>
        @if (hasExternalLogins)
        {
            <li class="nav-item">
                <a class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">Cuentas externas</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Autenticación 2FA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Datos personales</a>
        </li>
    </ul>
</div>
